<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a rel="noopener noreferrer"
           href="#" class="simple-text logo-normal">
            Trader
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            {% if request.user.is_authenticated %}

                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item {% if 'masters' in segment %} active {% endif %}">
                    <a class="nav-link" href="/masters">
                        <i class="material-icons">stars</i>
                        <p>Masters</p>
                    </a>
                </li>
                <li class="nav-item {% if 'orders' in segment %} active {% endif %}">
                    <a class="nav-link" href="/orders">
                        <i class="material-icons">list_alt</i>
                        <p>Orders</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="material-icons">directions_run</i>
                        <p>Logout</p>
                    </a>
                </li>

            {% else %}

            {% endif %}
        </ul>
    </div>

</div>
