{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">groups</i>
                    </div>
                    <p class="card-category">{% if is_master %}Followers{% else %}Current Master{% endif %}</p>
                    <h3 class="card-title">
                        {% if is_master %}{{ followers }}{% else %}{{ current_master.user.username }}{% endif %}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="/masters">Find a New Master...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Accounts:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                {% for wallet in accounts %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}"
                                           href="#{{ wallet }}" data-toggle="tab">
                                            {{ wallet }}
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        {% for wallet, currencies in accounts.items %}
                            <div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{ wallet }}">
                                <table class="table">
                                    <thead>
                                    <th>currency</th>
                                    <th>balance</th>
                                    <th>available</th>
                                    <th>holds</th>
                                    </thead>
                                    <tbody>
                                    {% for currency in currencies %}
                                        <tr>
                                            <td>{{ currency.currency }}</td>
                                            <td>{{ currency.balance }}</td>
                                            <td>{{ currency.available }}</td>
                                            <td>{{ currency.holds }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>

{% endblock javascripts %}
